global
    log         0.0.0.0 local2
    maxconn     4000
    # pidfile     /var/run/haproxy.pid
    # daemon

defaults
    mode                    http
    log                     global
    stats enable
    stats uri /haproxy?stats
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen app 0.0.0.0:80
    balance     roundrobin
    server nginx-1 nginx_1:80 maxconn 4000 weight 100
    server nginx-2 nginx_2:80 maxconn 4000 weight 100
    server nginx-3 nginx_3:80 maxconn 4000 weight 100
